html,
body {
    font-family: "Roboto", "sans-serif";
    margin: 0 !important;
}

header {
    font-weight: 700;
    text-align: center;
    font-size: 20px;
}

body>.wrapper {
    border: 2px solid black;
    padding: 1rem;
    margin: 0 auto;
    border-radius: 0.5rem;
    width: 50%;
    height: 50vh;
    background-color: rgb(245, 245, 245);
}

form {
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
}

button#submit-button {
    background-color: teal;
    border: none;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 12px;
}

button#clear-button {
    background-color: rgb(248, 137, 63);
    border: none;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 12px;
}

input#note {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px solid gray;
    padding: 0.5rem 0;
    outline: none;
}

input {
    background-color: rgb(245, 245, 245);
}

#app {
    margin: 0 auto;
    width: 960px;
    font-family: 'Roboto';
}

.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #FDFDFD;
    padding: 1rem;
    margin: 1rem 0;
}

.card-item {
    border: 1px solid lightgrey;
    margin-top: 10px;
    padding: 0 16px;
    border-radius: 8px;
}

.no-data {
    text-align: center;
}

.no-data>img {
    width: 300px;
    height: 300px;
}